@font-face {
  font-family: 'iconfont';
  src:  url('iconfont.eot?6ht3w5');
  src:  url('iconfont.eot?6ht3w5#iefix') format('embedded-opentype'),
  url('iconfont.ttf?6ht3w5') format('truetype'),
  url('iconfont.woff?6ht3w5') format('woff'),
  url('iconfont.svg?6ht3w5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
